
body {
    background-color: black;
    color: green;
}

a {
    color:red;
}

.navbar {
    background-color: white;
    box-shadow: 5px 2px;
    color: black;
}

    .navbar a {
        color: black;
    }


    .navbar.dark-theme {
        background-color: black;
        color: white;
    }

        .navbar.dark-theme a {
            color: white;
        }

main a{
  color: red;
}


footer {
    background-color: #F8F9FA;
    width:100%;
    margin-right:0px;
    margin-top:30px;
    padding-top:40px;
}

footer a{
    color:red;
}

    footer.dark-theme {
        background-color: #292b2c;
        color: white;
    }
