@media (prefers-color-scheme: light) {

  .navbar {
      background-color: white;
      box-shadow: 5px 2px;
      color: black;
  }

  .navbar a {
      color: black;
  }

    footer {

        color: black;
        margin: 0 auto;
    }

  footer a{
    color: black;
  }

}

@media (prefers-color-scheme: dark) {

  .navbar {
      background-color: black;
      color: white;
  }

  .navbar a {
      color: white;
  }

  main {
    background-color: black;
    color: white;
  }

  footer{
      background-color: black;
      border-top: 5px 10px;
      border-color: #292b2c;
      color: white;
  }
}

.navbar.dark-theme {
    background-color: black;
    color: white;
}
.navbar.dark-theme a {
    color: white;
}

main.dark-theme {
  background-color: black;
  color: white;
}

main a{
  color: red;
}

footer {
    width: 80%;
    margin-right: 0px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-color: #F8F9FA;
    border-width: thin;
    margin: 0 auto;
    font-size: small;
}

footer.dark-theme {
    background-color: black;
    border-top: 5px 10px;
    border-color: #292b2c;
    color: white;
    }

body.dark-theme{
    background-color:black;
}

main{
  height: 100%;
  width: 100%;
}

.footer-item{
  white-space: nowrap;
}
.footer-item a, .footer-item p{
    margin-left:3%;
    display: inline-block;
}
