@media (prefers-color-scheme: dark) {
    #computer-section {
        background-color: #292b2c;
    }

    #prof-table {
        color: white;
    }
}

#greeting {
    width: 28ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: .05em solid;
    animation: typing 2s steps(15), caret 1s steps(1) infinite;
}

    #greeting:hover {
        background-color: #eee;
    }
 

    @keyframes typing {
        from {
            width: 0%;
        }

        to {
            width: 50%;
        }

        
    }

    @keyframes caret {
        50% {
            border-right-color: transparent;
        }
    
    }









