@media (prefers-color-scheme: dark) {

    #computer-section {
        background-color: #292b2c;
    }
    #prof-table {
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        display: block;
        line-height: 1em; /* a */
        max-height: 2em; /* a x number of line to show (ex : 2 line)  */
    }
    td {
        color: white;
    }

    .icon {
        filter: invert(1);
    }
}

@media (prefers-color-scheme: light) {

    .carousel-control-next-icon, .carousel-control-prev-icon, .carousel-indicators {
        filter: invert(1);
    }


}

@media screen and (max-width: 480px) {
    .test {
        display:none;
    }
}




.carousel{
    height:50%;
    width:100%;
    position:relative;
}

.carousel-inner{
    height:100%;
    width:81%;
    
    position:relative;
    margin:auto;
}

.carousel-item{
    
    height:100%;
    
    margin:auto;
    
}



#greeting {
    font-size: 3vw;
    width: 28ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: .05em solid;
    animation: typing 2s steps(15), caret 1s steps(1) infinite;
}

    #greeting:hover {
        background-color: #eee;
    }
 

    @keyframes typing {
        from {
            width: 0%;
        }

        to {
            width: 50%;
        }

        
    }

    @keyframes caret {
        50% {
            border-right-color: transparent;
        }
    
    }

#contact-popUp {
    position: absolute;
   
    border-style: solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:black;
    z-index:1000;
    text-align:center;
}

/* The Modal (background) */
#popup-holder {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

